# Environment files
.env
.env*

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
out/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/
.nyc_output/

#Database
postgres-data/